.navbar {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-items: center;
    font-size: 24px;
    margin-top: 20px; 
    opacity: 87%;
    flex-wrap: wrap;
}

/* nav img {
    display: inline-block;
} */

nav a, p {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: #0E0E0E;
    font-family: "Open Sans";
}

nav a:hover {
    color: red;
}

.middle-bar {
    border: #707070 1px solid;
    border-radius: 20px;
    margin: auto;
    padding: 10px 30px;
    background-color: #FFFFFF;
    margin-right: 80px;
}


.input-search {
    border: black 1px solid;
    font-size: 24px;
    border-radius: 15px;
    padding-left: 20px;
    margin-left: 20px;
    font-family: "Open Sans";
}

.buttonsearch {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    margin:auto;

}

.buttonsearch:hover {
    color: red;
    font-weight: normal;
}

.login-signup {
    display: flex;
    flex-direction: row;
    justify-items: end;
    margin-right: 50px;
    border: #707070 1px solid;
    border-radius: 20px;
    background-color: #FFFFFF;
    
}

.login-signup p {
    margin: 0;
}